body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
}
a {
    text-decoration: none;
}
.card-list {
    display: flex;
    padding: 8rem;
    overflow-x: scroll;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    height: 400px;
    width: 450px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: -1rem 0 3rem rgb(68, 67, 67);
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}
.card:hover {
    transform: translateY(-1rem);
}.card:not(:first-child) {
    margin-left: -130px;
}
.card-header {
    margin-bottom: auto;
}
.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}
.card-header h2 {
    display: inline-block;
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    cursor: pointer;
}
.card-header h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.card-github {
    position: relative;
    display: grid;
    margin: 3rem 0 0;
    grid-template-columns: 75px 1fr;
    align-items: center;
}
.github-avatar {
    position: relative;
    grid-area: auto;
    align-self: start;
    box-sizing: border-box;
}
.github-avatar img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    overflow: hidden;
    margin: 16px 10px;
}
.github-name {
    grid-area: auto;
    box-sizing: border-box;
}
.github-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.card-logo {
    position: relative;
    display: grid;
    padding: 5px;
    grid-template-columns: 180px 1fr;
    align-items: center;
}
.logo-avatar {
    position: relative;
    grid-area: auto;
    align-self: start;
    box-sizing: border-box;
}
.logo-avatar img {
    display: block;
    width: 200px;
    height: 125px;
    border-radius: 12.75rem;
    box-shadow: 0 0 3rem rgb(0, 0, 0);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.logo-avatar:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}